{% extends "urbanmarket/layout.html" %}
{% load static %}

{% block title %}{{ listing.title }} | Urban Market{% endblock %}

{% block nav %}
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">ALL</a></li>
            <li class="categories">
                <a>CATEGORIES</a>
                <form class="category-links" action="{% url 'category' %}" method="post">
                  {% csrf_token %}
                  <ul>
                      <li><input type="submit" name="category" value="Tops"></li>
                      <li><input type="submit" name="category" value="Bottoms"></li>
                      <li><input type="submit" name="category" value="Dresses"></li>
                      <li><input type="submit" name="category" value="Shoes"></li>
                      <li><input type="submit" name="category" value="Accessories"></li>
                  </ul>
                </form>
            </li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'saved' %}">SAVED</a></li>
            {% endif %}
        </ul>
          {% if user.is_authenticated %}
            <button id="create-listing-btn" class="btn-secondary">Create listing</button>
          {% endif %}
    </nav>
    <div class="break"></div>
{% endblock %}

{% block body %}
    <main>
        <div class="listing-container">
            <img class="listing-img" src="{{ listing.imgURL }}" alt="item">
            <div class="listing-info">
              <div class="listing-price-info">
                <h2>US${{ listing.price }}</h2>
              </div>
              {% if user.is_authenticated %}
                <div class="listing-forms">
                  <form action="{% url 'saved' %}" method="post">
                    {% csrf_token %}
                    <div class="main-listing-actions">
                      <input class="hidden" type="number" name="id" value="{{ listing.id }}">
                      {% if saved %}
                        <input type="image" name="save" class="heart" src="{% static 'urbanmarket/selected-heart-icon.png' %}" alt="save">
                      {% else %}
                        <input type="image" name="save" class="heart" src="{% static 'urbanmarket/heart-icon.png' %}" alt="save">
                      {% endif %}
                    </div>
                  </form>
                  {% if listing.bidStatus == "Open" %}
                    <p>
                      <span>{{ bids }}</span> bid(s) so far. 
                      {% if highestBid.username.username == username %}
                        <span>Your bid is the current bid.</span>
                      {% endif %}
                    </p>
                  {% endif %}
                  {% if listing.bidStatus == "Open" %}
                    {% if listing.seller.username == user.username %}
                      <form action="{% url 'close' %}" method="post">
                        {% csrf_token %}
                        <div class="main-listing-actions">
                          <input class="hidden" type="number" name="id" value="{{ listing.id }}">
                          <input class="btn-secondary" type="submit" value="CLOSE BID">
                        </div>
                      </form>
                    {% else %}
                      <form action="{% url 'bid' %}" method="post">
                        {% csrf_token %}
                        <input class="form-control" autocomplete="off" type="number" min="{{ minBid }}" step="0.01" name="bid" placeholder="Your Bid">
                        <div class="main-listing-actions">
                          <input class="hidden" type="number" name="id" value="{{ listing.id }}">
                          <input class="btn-secondary" type="submit" value="PLACE BID">
                        </div>
                      </form>
                    {% endif %}
                  {% else %}
                    {% if highestBid.username.username == username %}
                      <p>You won this auction.</p>
                    {% endif %}
                    <input class="btn-secondary" type="submit" value="CLOSED" disabled="True">
                  {% endif %}
                </div>
              {% endif %}
              <div class="listing-item-info">
                <h3>{{ listing.title }}</h3>
                <div class="listing-tags">
                  <span>{{ listing.size }}</span>
                  <span>{{ listing.category}}</span>
                </div>
                <div class="seller-info">
                  <p>Seller: {{ listing.seller.username }}</p>
                </div>
                <div class="accordion-container">
                  <div class="accordion description closed">Description</div>
                  <div class="description-panel panel">
                    <p>{{ listing.description }}</p>
                  </div>

                  <div class="accordion comments closed">Comments</div>
                  <div class="comments-panel panel">
                    {% if user.is_authenticated %}
                      <button id="create-comment-btn" type="button">Write a comment</button>
                    {% endif %}
                    {% for comment in comments %}
                      <div class="comment">
                        <h4>{{ comment.username.username }}</h4>
                        <h5>{{ comment.date }}</h5>
                        <p>{{ comment.comment }}</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div id="create-listing-modal" class="modal">
            <span class="close">&times;</span>
            <form class="modal-content" action="{% url 'create' %}" method="post">
                {% csrf_token %}
                <h2>Create listing</h2>
                <div class="form-group">
                    <input class="form-control" autocomplete="off" type="text" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea autocomplete="off" type="text" name="description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" autocomplete="off" type="text" name="price" placeholder="Starting Bid">
                    <input class="form-control" autocomplete="off" type="text" name="image" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <input class="form-control" autocomplete="off" type="text" name="size" placeholder="Size">
                    <select required="required" name="category">
                        <option value="Tops">Tops</option>
                        <option value="Bottoms">Bottoms</option>
                        <option value="Dresses">Dresses</option>
                        <option value="Shoes">Shoes</option>
                        <option value="Accessories">Accessories</option>
                    </select>
                </div>
                <input class="btn-secondary" type="submit" value="CREATE">
            </form>
        </div>
        <div id="create-comment-modal" class="modal">
          <span class="close">&times;</span>
          <form class="modal-content" action="{% url 'comment' %}" method="post">
              {% csrf_token %}
              <h2>Create comment</h2>
              <div class="form-group">
                  <input class="hidden" type="number" name="id" value="{{ listing.id }}">
                  <textarea autocomplete="off" type="text" name="comment" placeholder="Your comment"></textarea>
              </div>
              <input class="btn-secondary" type="submit" value="POST COMMENT">
          </form>
        </div>
    
    </main>
    
    <div class="modal-overlay"></div>
{% endblock %}

